@font-face {
  font-family: "Big Noodles";
  src: url("../fonts/big_noodle_titling.ttf");
}

@import "~bootstrap/scss/bootstrap";

$red: rgb(255, 20, 20);

p {
  color: $red;
  font-family: "Big Noodles";
}

body {
  background-image: url("../img/cat.jpg");
}